{% extends "base.html" %}

{% block customCSS %}
<link rel="stylesheet" href="{{ url_for('static', filename='styles/addsubscription.css') }}">
{% endblock %}

{% block content %}

<div class="m-2 p-2">
    <h1>Add Subscription</h1>

    <hr>

    <form action="/addsubscription" method="POST" class="form-horizontal">
        <div class="form-group">
            <div class="col-2">
                <label class="form-label text-large">Service Name*:</label>
            </div>
            <div class="col-10">
                <input type="text" name="serviceName" placeholder="e.g. Netflix" class="form-input mb-2">
            </div>
        </div>
        <div class="form-group">
            <div class="col-2">
                <label class="form-label text-large">Payment per Cycle*:</label>
            </div>
            <div class="col-10">
                <input type="number" name="paymentAmount" placeholder="e.g. 10" class="form-input mb-2" min="0" step="any">
            </div>
        </div>
        <div class="form-group">
            <div class="col-2">
                <label class="form-label text-large">Start Date:</label>
                <label class="form-label text-tiny text-muted">(or the last payment date)</label>
            </div>
            <div class="col-10">
                <input type="date" name="startDate" class="form-input mb-2" max="" id="dateInput">
            </div>
        </div>
        <div class="form-group">
            <div class="col-2">
                <label class="form-label text-large">Cycle Time:</label>
            </div>
            <div class="col-1 my-1">
                Every
            </div>
            <div class="col-4">
                <input type="number" class="form-input" name="intervalNum" min="1" max="30" step="1" id="intervalNum">
            </div>
            <div class="col-1"> </div>
            <div class="col-4">
                <select class="form-select" name="intervalUnit" id="interval">
                    <option>Choose One</option>
                    <option>Day(s)</option>
                    <option>Week(s)</option>
                    <option>Month(s)</option>
                    <option>Year(s)</option>
                </select>
            </div>
        </div>
        <div class="form-group">
            <div class="col-2">
                <label class="form-label text-large">Website Associated:</label>
            </div>
            <div>
                <input type="url" name="subURL" class="form-input" placeholder="e.g. https://netflix.com">
            </div>
        </div>
        <div class="form-group">
            <div class="col-2">
                <label class="form-label text-large">Is Active:</label>
            </div>
            <div>
                <input type="checkbox" name="active" class="checkbox-down" checked>
            </div>
        </div>

        <div class="submit-inline">
            <input type="submit" value="Submit" class="btn btn-primary">

            <div class="text-small text-muted mx-2 px-2">
                <p>An * means that a field is required.</p>
            </div>
        </div>
    </form>

    <div class="columns">

        <div class="column col-4"></div>

        <div class="column col-4">
            <div class="text-center">
                {% with messages = get_flashed_messages(with_categories=True) %}
                    {% if messages %}
                        {% for category, message in messages %}
                            <div class="toast toast-{{category}}">
                                <span class="">
                                    <p class="m-2">{{message}}</p>
                                </span>
                            </div>
                        {% endfor %}
                    {% endif %}
                {% endwith %}
            </div>
        </div>

        <div class="column col-4"></div>

    </div>

</div>

{% endblock %}

{% block scripts %}
<script src="{{ url_for('static', filename='scripts/addsubscription.js') }}"></script>
{% endblock %}